body {
  background-color: black;
  background-image: radial-gradient(
          rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  color: #00ff19;
  font: 1.3rem Inconsolata, monospace;
  margin: 0;
 /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
