.main_title {
  margin-left: 5vw;
}

.App_main {
  display: flex;
  margin: 5vh;
  justify-content: space-around;
}

.email_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.email_form input {
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.hibp_main table {
  border-collapse: collapse;
}
.hibp_main table th {
  border: 1px solid grey;
  padding: 3px;
}
.hibp_main table td {
  border: 1px solid grey;
  padding: 4px;
}

/*# sourceMappingURL=main.css.map */
